---
import Layout from '../../layouts/Layout.astro';
import Header from '../../app/components/Header';
import SideBar from '../../app/components/SideBar.tsx';
import PageContent from '../../app/components/PageContent.tsx';
import AutoToast from '../../app/components/AutoToast.tsx';
import ToastWrapper from '../../app/providers/ToastWrapper.tsx';
---

<Layout title="Project Details - BeatFox">
  <Header client:visible />
  <main
    class="flex justify-center items-stretch gap-4 mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 lg:py-16 w-full min-h-screen container"
  >
    <SideBar client:visible />
    <PageContent client:visible />
  </main>
  <ToastWrapper client:visible>
    <AutoToast client:visible />
  </ToastWrapper>
</Layout>
